@font-face {
  font-family: 'Material Icons';
  src: url('fonts/roboto/MaterialIcons-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/roboto/MaterialIcons-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto/MaterialIcons-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/roboto/MaterialIcons-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto/Roboto-Regular.eot'); /* IE9 Compat Modes */
  src: url('fonts/roboto/Roboto-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/roboto/Roboto-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts/roboto/Roboto-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */}

#darkbody{
    background-color: #7e57c2  ;
}
#lightbody{
    background-color: #eceff1  ;
        animation: 0.5s ease-in 0s 1 slideInFromRight;
}
.input-field{
    background-color: white;
}
p{
    margin:0px;
}
h5{ margin-top:0;
    padding-top: 8px;}
.row{
    margin-bottom: 0;
}
#clickMe{
    margin-bottom: 10px;
}
#basketTotal{
    margin-right: 5px;
}
