 @font-face { font-family: Roboto-Bold; src: url('fonts/Roboto-Bold'); } 
 @font-face { font-family: Roboto-Light; src: url('fonts/Roboto-Light'); } 
 @font-face { font-family: Roboto-Medium; src: url('fonts/Roboto-Medium'); } 
 @font-face { font-family: Roboto-Regular; src: url('fonts/Roboto-Regular'); } 
 @font-face { font-family: Roboto-Thin; src: url('fonts/Roboto-Thin'); } 
 @font-face { font-family: Roboto-Thin; src: url('fonts/material-icons'); } 

#darkbody{
    background-color: #7e57c2  ;
}
#lightbody{
    background-color: #eceff1  ;
        animation: 0.5s ease-in 0s 1 slideInFromRight;
}
.input-field{
    background-color: white;
}
p{
    margin:0px;
}
h5{ margin-top:0;
    padding-top: 8px;}
.row{
    margin-bottom: 0;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}